<?xml version="1.0"?>
<!--
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_PdfPayone
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2016 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
 -->
<config>
    <modules>
        <FireGento_PdfPayone>
            <version>1.0.0</version>
        </FireGento_PdfPayone>
    </modules>
    <global>
        <models>
            <firegento_pdfpayone>
                <class>FireGento_PdfPayone_Model</class>
            </firegento_pdfpayone>
        </models>
        <events>
            <firegento_pdf_invoice_insert_note>
                <observers>
                    <firegento_pdfpayone>
                        <class>firegento_pdfpayone/observer</class>
                        <method>firegentoPdfInvoiceInsertNote</method>
                    </firegento_pdfpayone>
                </observers>
            </firegento_pdf_invoice_insert_note>
        </events>
    </global>
</config>
